.amazing-services-section {
  min-height: 945px;
  margin: -130px 0 0 0;
  position: relative;

  .row {
    justify-content: space-between;
  }

  &__main-img {
    margin: 0 0 0 -74px;

    @media (max-width: 576px) {
      margin: auto;
    }
  }

  &__list {
    padding: 114px 0px 0px 0;
    margin: 0 0 0 -13px;

    @media (max-width: 1200px) { 
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-content: center;
    }

    @media (max-width: 768px) {
      margin: 0 0 0 15px;
    }
  }

  &__info-block {
    display: flex;
    align-items: center;
    padding: 0 0 41px 0;
  }

  &__icon {
    font-size: 30px;
    height: 100px;
    display: flex;
    border-radius: 37px;
    width: 100px;
    justify-content: center;
    align-items: center;

    @media (max-width: 576px) {
      width: 65px;
      height: 65px;
      border-radius: 18px;
    }

    &.chart {
      background-color: $mainColor_green;
      color: $mainColor_red;
      margin: -10px 34px 0 0;

      @media (max-width: 576px) {
        margin: -6px 7px 0 0;
      }
    }

    &.dice {
      background-color: $mainColor_beige;
      color: #45046a;
      margin: -6px 34px 0 170px;

      @media (max-width: 768px) {
        margin: -6px 34px 0 0;
      }

      @media (max-width: 576px) {
        margin: -6px 7px 0 0;
      }
    }

    &.rocket {
      background-color: #efe3fe;
      color: $mainColor_purple;
      margin: -6px 34px 0 0;

      @media (max-width: 576px) {
        margin: -6px 7px 0 0;
      }
    }
  }
  
  &__info-text {
    max-width: 250px;
  }

  &__info-title {
    color: $mainColor_purple;
    font-size: 18px;
    font-weight: 700;
    padding: 15px 0 0 0;
  }

  &__text-block {
    max-width: 470px;
    padding: 7px 0 0 72px;

    @media (max-width: 1200px) {
      max-width: 100%;
    }

    h2 {
      padding: 10px 0 18px 0;
    }

    p {
      line-height: 22px;
      letter-spacing: -0.18px;
      padding: 0 0 0 2px;
      max-width: 457px;
    }
  }

  &__pretitle {
    color: $mainColor_purple;
    font-size: 14px;
    font-weight: 700;
  }

  &__title_red {
    color: $mainColor_red;
  }

  &__image {
    img {
      position: absolute;
      z-index: -1;
    }

    &_line {
      top: 47.8%;
      left: 49.3%;
    }

    &_shape-purple-md {
      top: 25.2%;
      left: 43.2%;
    }

    &_shape-biege-md {
      bottom: 43.2%;
      left: 6.3%;
    }

    &_shape-green-md {
      bottom: 25%;
      right: 34.4%; 
    }

    &_shape-green-sm {
      bottom: 45%;
      right: 7.3%;
    }

    &_shape-purple-sm {
      bottom: 11.4%;
      right: 3.8%;
    }
  }
}