.container-xl {
  @include make-container(xl);
  max-width: 1140px;
  @include media-breakpoint-up(xl){
    max-width: 1170px;
  }
}

.container-xxl {
  @include make-container(xxl);
  max-width: 1690px;
  @include media-breakpoint-up(xxl){
    max-width: 1720px;
  }
}

.container-xxxl {
  @include make-container(xxxl);
  max-width:1830px;
  @include media-breakpoint-up(xxxl){
    max-width: 1860px;
  }
}

a:hover {
  text-decoration: none;
}

button {
  border: none;
}

body {
  background-color: $mainColor_white;
  font-family: 'Chivo', sans-serif;
}

.section_title {
  color: $mainColor_black;
  font-family: 'Asul', sans-serif;
  font-size: 48px;
  font-weight: 700;
}

.section_paragraph {
  color: $mainColor_grey;
  font-size: 16px;
}