.container-large {
  max-width: 1860px;
  margin: 0 auto;
}

a:hover {
  text-decoration: none;
}

button {
  border: none;
}

body {
  background-color: $mainColor_white;
  font-family: 'Chivo', sans-serif;
}

.section_title {
  color: $mainColor_black;
  font-family: 'Asul', sans-serif;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: -0.45px;
  line-height: 49px;
}

.section_paragraph {
  color: $mainColor_grey;
  font-size: 16px;
}