footer {
  margin: 0 0 30px 0;
}

.footer-section {
  min-height: 500px;
  background-color: $mainColor_beige;
  border-radius: 50px;
  
  &__content {
    padding: 157px 0 0 0;
  } 
  
  &__copyright {
    font-size: 14px;
    padding: 20px 0 0 0;
    letter-spacing: -0.1px;
  }

  &__logo-block {
    margin: 0 0 0 -28px;
    @media (max-width: 1200px) {
      margin: 0;
    }


    img {
      padding: 5px 0 0 0;
    }
  }

  &__nav-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 0 7px;
    margin: -1px 0 0 0;

    span {
      font-size: 18px;
      font-weight: 700;
      padding: 0 0 25px 0;
    }

    .nav {
      margin: 0 0 0 25px;
      padding: 0 0 25px 0;

      .menu__item-footer {
        padding: 0 0 12px 0;

        a {
          font-size: 16px;
          font-weight: 700;
          color: $mainColor_purple;
    
          &:hover {
            color: $mainColor_grey;
          }
        }
      }
    }
  }

  @media (max-width: 576px) {
    &__contact-block {
      padding: 0 0 20px 0;
    }
  }

  &__contact-item {
    margin: 0 0 0 30px;

    &_title {
      display: block;
      font-size: 18px;
      font-weight: 700;
      padding: 0 0 22px 0;
    }

    &_mail {
      color: $mainColor_purple;
      font-size: 30px;
      letter-spacing: -0.25px;
      display: block;
      padding: 0 0 15px;

      @media (max-width: 576px) {
        font-size: 28px;
      }
    }

    &_text {
      font-size: 16px;
      margin: 0;
      letter-spacing: -0.1px;
    }

    &_phone {
      color: $mainColor_black;
      display: block;
      padding: 11px 0 0 0;
      letter-spacing: -0.1px
    }
  }

  &__social-icon {
    display: flex;
    justify-content: space-around;
    padding: 17px 0 0px 38px;
    font-size: 16px;

    @media (max-width: 1200px) {
      flex-direction: column;
    }

    @media (max-width: 992px) {
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

    @media (max-width: 576px) {
      padding: 0 0 20px 0;
    }

    &_item {
      padding: 0 0 0 32px;

      @media (max-width: 992px) {
        padding: 0 0 0 15px;
      }

      a {
        background-color: $mainColor_white;
        padding: 16px;
        border-radius: 32px;

        &:hover {
          background-color: $mainColor_grey;
        }
      }

      .fa-facebook {
        color: $mainColor_purple;
      }

      .fa-twitter {
        color: #45046a;
      }

      .fa-instagram {
        color: $mainColor_red;
      }
    }
  }
}
