.happy-client-section {
  height: 720px;
  position: relative;

  &__image-button-item {
    position: absolute;
  }

  &__image-button {
    cursor: pointer;

    .img-item-1 {
      top: 1%;
      left: 35%;
    }

    .img-item-2 {
      top: 27.5%;
      left: 19.5%;

      @media (max-width: 1200px) {
        top: 8.1%;
        right: 12.3%;
      }
    }

    .img-item-3 {
      top: 41.5%;
      left: 33.4%;

      @media (max-width: 1200px) {
        top: 59.5%;
        left: 7.4%;
      }
    }

    .img-item-4 {
      bottom: 29%;
      left: 38.8%;

      @media (max-width: 1200px) {
        top: 64.5%;
        left: 29.4%;
      }
    }

    .img-item-5 {
      top: 6.1%;
      right: 29.7%;
    }

    .img-item-6 {
      top: 15.1%;
      right: 19.3%;

      @media (max-width: 1200px) {
        top: 6.5%;
        right: 11.3%;
      }
    }

    .img-item-7 {
      bottom: 48.5%;
      right: 35%;

      @media (max-width: 1200px) {
        bottom: 30.5%;
        right: 31%;
      }
    }

    .img-item-8 {
      bottom: 29%;
      right: 12.5%;
    }
  }

  &__content {
    padding: 128px 0 0 0;
    margin: 0 auto;
  }

  &__text-block {
    max-width: 505px;
    text-align: center;
    display: none;

    &.active {
      display: block;
    }

    @media (max-width: 576px) {
      margin: auto 15px;
    }
  }

  &__title {
    font-family: 'Asul', sans-serif;
    color: $mainColor_purple;
    font-size: 30px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: -0.3px;
    padding: 4px 0 0 0;
  }

  &__subtitle {
    padding: 20px 0 0 0;

    h6 {
      font-size: 16px;
      font-weight: 700;

      span {
        color: $mainColor_grey;
        font-size: 14px;
        font-weight: 400;
      }
    }
  }

  &__bottom-line {
    position: absolute;
    z-index: -1;
    bottom: 10.3%;
    left: 48.3%;
  }
}