.intro-section {
  height: 840px;

  &__text-block{
    margin: 0px 0 0px -15px;
    padding: 170px 0 0 0;

    h1 {
      font-size: 60px;
      letter-spacing: -0.45px;
      line-height: 61px;
    }

    p {
      font-size: 18px;
      padding: 18px 0 37px 0;
      letter-spacing: -0.15px;
      line-height: 25px;
    }
  }

  &__button_purple,
  &__button_green {
    width: 160px;
    height: 50px;
    font-size: 16px;
    border-radius: 20px;
  }
  
  &__button_purple {
    background-color: $mainColor_purple;
    color: $mainColor_white;
    margin: 0 25px 0 0;

    &:hover {
      background-color: $mainColor_grey;
      color: $mainColor_black;
    }
  }

  &__button_green {
    background-color: $mainColor_green;
    color: $mainColor_black;

    &:hover {
      background-color: $mainColor_grey;
      color: $mainColor_black;
    }
  }

  &__content {
    position: relative;
  }

  &__main-image {
    position: absolute;
    z-index: -1;
    top: -110px;
    right: -58px;
  }
}