.intro-section {
  height: 920px;

  @media (max-width: 768px) {
    height: 680px;
  }

  &__text-block{
    margin: 0px 0 0px -15px;
    padding: 170px 0 0 0;

    @media (max-width: 768px) {
      margin: auto 15px;
    }

    h1 {
      font-size: 60px;
      letter-spacing: -0.45px;
      line-height: 61px;
    }

    p {
      font-size: 18px;
      padding: 18px 0 37px 0;
      letter-spacing: -0.15px;
      line-height: 25px;
    }
  }

  &__button_purple,
  &__button_green {
    width: 160px;
    height: 50px;
    font-size: 16px;
    border-radius: 20px;
  }
  
  &__button_purple {
    background-color: $mainColor_purple;
    color: $mainColor_white;
    margin: 0 25px 0 0;

    &:hover {
      background-color: $mainColor_grey;
      color: $mainColor_black;
    }

    @media (max-width: 576px) {
      display: block;
      margin: 0 0 15px 0;
    }
  }

  &__button_green {
    background-color: $mainColor_green;
    color: $mainColor_black;

    &:hover {
      background-color: $mainColor_grey;
      color: $mainColor_black;
    }
  }

  &__content {
    position: relative;
  }

  &__main-image {
    position: absolute;
    z-index: -1;
    top: -110px;
    right: -58px;

    img {
      width: auto;
      height: 100%;
    }
  }

  @media (max-width: 1200px) { 
    img {
      display: none;
    }
  }

  .container-large {
    position: relative;
  }

  &__icon {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    position: absolute;
    bottom: -255px;
    left: 71px;

    a {
      color: $mainColor_grey;
      padding: 0 0 15px 0;

      &:hover {
        color: $mainColor_purple;
      }
    }
  }
}