.newsletter-section {
  height: 400px;


  .success-massage {
    display: none;
    padding: 10px 0 0 0;

    &.active {
      display: block;
    }
  }
  
  .row {
    justify-content: center;
  }

  &__block {
    max-width: 570px;
    text-align: center;

    h2 {
      padding: 19px 0 27px 0;
      margin: 0 0 0 -11px;
    }

    p {
      padding: 0 0 30px 0;
      margin: 0px 0 0 -8px;
      letter-spacing: -0.15px;

    }
  }

  &__title_red {
    color: $mainColor_red;
  }

  &__text {
    color: $mainColor_grey;
    font-size: 18px;
  }

  &__form-block {
    position: relative;

    &_input {
      width: 570px;
      height: 60px;
      background: #f7f7f7;
      color: $mainColor_grey;
      border-radius: 12px;
      border: none;
      padding: 0 0 0 30px;
    }

    &_button {
      width: 160px;
      height: 50px;
      color: $mainColor_white;
      background-color: $mainColor_purple;
      border-radius: 21px;
      position: absolute;
      top: 5px;
      right: 2px;

      &:hover {
        color: $mainColor_black;
        background-color: $mainColor_grey;
      }
    }
  }
}