.our-mission-section {
  height: 715px;

  .row {
    justify-content: space-around;
  }

  &__text-block {
    max-width: 665px;
    text-align: center;

    h2 {
      padding: 11px 0 100px 0;
    }
  }

  &__pretitle {
    color: $mainColor_purple;
    font-size: 14px;
    font-weight: 700;
  }

  &__title_red {
    color: $mainColor_red;
  }

  &__card {
    max-width: 370px;
    padding: 48px 22px;

    &_button {
      display: none;
    }

    img {
      margin: -43px 0 0 0;
      padding: 0 0 41px 0; 
    }

    &-title {
      font-size: 18px;
      font-weight: 700;
      color: $mainColor_purple;
    }
  }

  .swiper-slide-active {
    .our-mission-section__card_button {
      display: block;
    }
  }
}