.our-mission-section {
  height: 715px;

  .row {
    justify-content: space-around;
  }

  &__text-block {
    max-width: 665px;
    text-align: center;

    h2 {
      padding: 13px 0 64px 5px;
    }
  }

  &__pretitle {
    color: $mainColor_purple;
    font-size: 14px;
    font-weight: 700;
  }

  &__title_red {
    color: $mainColor_red;
  }

  &__card {
    height: 360px !important;
     
    &_button {
      display: none;
      height: 45px;
      width: 140px;
      border-radius: 20px;
      margin: 22px 0 0 4px;
      background-color: $mainColor_green;

      &:hover {
        background-color: $mainColor_grey;
      }
    }

    &.item-accountancy {
      padding: 84px 0 0 23px;

      img {
        margin: -41px 0 0 0;
        padding: 0 0 38px 0;
      }
    }

    &.item-finance {
      padding: 90px 0 0 40px;

      img {
        margin: -43px 0 0 0;
        padding: 0 0 34px 0;
      }
    }

    &.item-tax {
      padding: 81px 0 0 56px;

      img {
        margin: -35px 0 0 0;
        padding: 0 0 35px 0;
      }
    }

    &-title {
      font-size: 18px;
      font-weight: 700;
      color: $mainColor_purple;
    }
  }

  .swiper-slide-active {
    .our-mission-section__card_button {
      display: block;
    }

    &.our-mission-section__card {
      background-color: $mainColor_white;
      box-shadow: 11px 6px 20px 2px #e0e0e0;
      border-radius: 20px;
    }
  }

  .swiper-wrapper {
    height: 385px;
  }

  @media (max-width: 768px) {
    .swiper-container {
      margin: 0 0 0 15px;
    }
  }
}