.whoweare-section {
  height: 655px;
  padding: 48px 0 0 0;

  &__text-block {
    padding: 0px 0 0 21px;

    h2 {
      padding: 12px 0 20px 0;
    }

    p {
      line-height: 22px;
      letter-spacing: -0.18px;
    }
  }

  &__pretitle {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: $mainColor_purple;
  }

  &__subtext {
    font-size: 14px;
    font-weight: 700;
    color: $mainColor_grey;
    text-transform: uppercase;
    padding: 16px 0 0;
    line-height: 18px !important;
  }

  &__img {
    position: relative;

    @media (max-width: 768px) {
      display: none;
    }

    img {
      position: absolute;
    }

    &_person {
      z-index: 10;
      top: -57px;
      left: 78px;

      @media (max-width: 992px) {
        z-index: -1;
        top: -350px;
      }
    }

    &_md-purple {
      z-index: 9;
      bottom: 53px;
      right: 190px;
    }

    &_md-beige {
      z-index: 8;
      top: 28px;
      right: 75px;
      
      @media (max-width: 992px) {
        z-index: -2;
      }
    }

    &_bg-green{
      z-index: 7;
      top: 0;
      left: -14px;
      @media (max-width: 992px) {
        z-index: -2;
        top: -350px;
      }
    }
  }

  &__brand-block {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &_icon {
      font-size: 30px;
      margin: -3px -27px 0 0;

      @media (max-width: 576px) {
        margin: 0;
      }
      
      a {
        color: $mainColor_grey;
        padding: 0 13px;
      }
    }
  }
}